/* Nouveau style pour positionner la durée en bas à droite de l'image */
.article {
  flex: 1 0 20%;
  max-width: 20%;
  min-width: 140px;
  color: white; /* Couleur du texte principal */
  border-radius: 12px; /* Coins arrondis */
  width: 140px; /* Largeur de la carte */
  margin: 10px; /* Marge entre les cartes */
}

@media screen and (max-width: 600px) {
  .article {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.article:hover .image {
  transform: translateY(-8px);
}
.article:hover .duration {
  transform: translateY(-8px);
}

.image {
  width: 100%;
  border-radius: 12px;
  height: auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease-in-out;
}

.imageContainer {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.duration {
  transition: transform 0.4s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond de la durée */
  border-radius: 12px 0 12px 0; /* Coins arrondis */
  color: #fff; /* Couleur du texte de la durée */
  padding: 2px; /* Ajoutez un peu d'espace intérieur */
  font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
}

/* Ajoutez ces styles pour améliorer la mise en page */
.informations {
  padding: 1px;
  margin-left: 10px;
}
.top {
  overflow: hidden;
}
.title {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 2px;
  color: white; /* Couleur du texte par défaut */ /* Dégradé de gauche à droite */
  display: block;
  /*
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateX(0%)
  transition: transform 4s ease-in;
  */
}
.article:hover .title {
  color: #ffe12f; /* Changement de couleur du texte au survol */
}

/*
.article:hover .title {
  transform: translateX(-100%);
  overflow: initial;
}
*/

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.date {
  font-size: 12px;
}

.saison {
  font-weight: 900;
  font-size: 12px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
}
