.link {
  color: unset;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.article {
  flex: 1 0 20%;
  max-width: 20%;
  min-width: 140px;
  color: white;
  border-radius: 12px;
  width: 140px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .article {
    flex: 1 0 90%;
    max-width: 90%;
  }
}

.article:hover .image {
  transform: translateY(-8px);
}
.article:hover .duration {
  transform: translateY(-8px);
}

.image {
  width: 100%;
  border-radius: 12px;
  height: auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease-in-out;
}

.imageContainer {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.duration {
  transition: transform 0.4s ease-in-out;
  position: absolute;
  bottom: 3px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px 0 12px 0;
  color: #fff;
  padding: 5px;
  font-size: 13px;
}

.informations {
  padding: 1px;
  margin-left: 10px;
}

.top {
  overflow: hidden;
}

.title {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 2px;
  margin-top: 2px;
  color: white;
  display: block;
}

.article:hover .title {
  color: #ffe12f;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.date {
  font-size: 12px;
}

.saison {
  font-weight: 900;
  font-size: 12px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
}
