/* styles.module.css */

.container > img {
}

.container {
  position: relative;
  width: 100%;
  background-color: purple;
}

.icontainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.child {
  position: relative;

  background-color: transparent;
}

.informations {
  margin: 40px 60px;
  color: white;
  font-size: 1.2rem;
}

.title {
  display: inline;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: aliceblue;
}

.directors {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: aliceblue;
  padding-left: 1em;
  margin-top: -10px;
}

.releaseDate {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: aliceblue;
}

.saison {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: aliceblue;
}

.episode {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: aliceblue;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding-left: 10px;
  color: aliceblue;
}

.releaseDate {
  font-size: 1.5rem;
  margin-left: 10px;
  color: aliceblue;
}

.text {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: aliceblue;
}

.main {
  display: flex;
  flex-direction: row;
}

.rightPanel {
  width: -webkit-fill-available;
  max-width: 50%;
}

.publishDate {
  display: block;
  padding-top: 30px;
}

.adminButton {
  position: absolute;
  z-index: 2;
  margin-top: 12px;
  margin-left: 12px;
  padding: 2px 4px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.adminButton:hover {
  background-color: #e5e5e5;
}

.reviews {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: white;
}

.review {
  overflow: auto;
  max-height: 120px;
  margin-top: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #423333;
}

.popup {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-secondary-color);
  color: var(--text-primary-color);
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px 1px var(--logo-primary-color);
  padding: 20px;
  z-index: 1000; /* Assure que la fenêtre contextuelle est au-dessus du reste du contenu */
  width: 80vw;
  height: 80vh;
  overflow: auto;
  border-radius: 12px;
}

.popup button.closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  /* background: none; */
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #000;
  background-color: var(--logo-primary-color);
  margin: 0 auto;
  width: 42px;
  height: 42px;

  border-radius: 12px;
}

.popup button.closeButton:hover {
  background-color: #f5f5f5;
  color: red;
}

.card__navigation {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.card__navigation__title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-primary-color);
  margin-left: 15px;
}

.card__navigation__container > article {
  max-width: 70%;
  min-width: 200px;
  width: 250px;
}

.card__bottom__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.actionBar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 10px;
}

.buttonAction {
  min-width: 142px;
  min-height: 46px;
  background-color: var(--logo-primary-color);
  border: none;
  border-radius: 6px;
  color: var(--text-tertiary-color);
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0.1rem;
  padding: 0.5rem;
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}

.buttonAction:hover {
  background-color: var(--logo-primary-hover);
  transform: translateY(-3px);
}

.button {
  background-color: var(--logo-primary-color);
  border: none;
  border-radius: 6px;
  color: var(--text-tertiary-color);
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0.1rem;
  padding: 0.5rem;

  transition: transform 0.4s ease;
}

.button:hover {
  background-color: var(--logo-primary-hover);
  transform: translateY(-3px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.03);
  }
}

.buttonAction > a {
  color: var(--text-tertiary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .buttonAction {
    flex-basis: 100%; /* Les boutons prennent toute la largeur disponible */
  }
  .card__navigation {
    flex-direction: column;
  }
}
