.container {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid var(--logo-primary-color);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 5px;
  min-width: 300px;
}

.label {
  color: white;
  position: absolute;
  font-weight: bold;
  top: -11px;
  font-size: 16px;
  margin-bottom: 15px;
  z-index: 1;
  padding: 0 5px;
  background-color: var(--background-secondary-color);
}

.button__all {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: var(--text-tertiary-color);
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-family);
  padding: 5px;
}

.button__all:hover {
  background-color: var(--logo-primary-hover);
}

.button {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: var(--text-tertiary-color);
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-family);
  width: 30px;
  text-align: center;
}

.button__active {
  background-color: var(--logo-primary-color);
}

.button:hover {
  background-color: var(--logo-primary-hover);
}
