.footer {
  min-height: 40px;
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);

  gap: 10px;
}

.footer > div {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
